.reviews-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #111;
  color: #fff;
  border-radius: 8px;

  h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  .review-card {
    background-color: #222;
    padding: 12px 15px;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.5s ease;

    &:hover {
      background-color: #333;
      transform: scale(1.1);
    }

    .movie-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .rating {
      font-size: 1rem;
      margin-bottom: 5px;
      color: #FFD700; // zlatna za ocenu
    }

    .review-text {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .review-date {
      font-size: 0.85rem;
      color: #aaa;
    }
  }
}
