<div class="carousel-container">
    <h2 class="carousel-heading">
        <ng-content></ng-content>
    </h2>

    <div class="carousel-list">
        @for (movie of movies(); track movie.id) {
        <a [routerLink]="['/movies', movie.id]">
            <div class="movie-item">
                <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                    [alt]="movie.title" />

                <p class="movie-title">
                    {{ movie.title }}
                </p>
            </div>
        </a>
        }
    </div>
</div>